<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width, initial-scale=1.0">
    <title>BatterLife - Home</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/About.css">
    <link rel="stylesheet" href="~/css/Products.css">
    <link rel="stylesheet" href="~/css/Contact.css">
    <link rel="stylesheet" href="~/css/ProductDetails.css">
    <link rel="stylesheet" href="~/css/Faq.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/UserProfile.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/images/logo.png" alt="BatterLife Logo">
        </div>
        <nav>
            <a href="~/Home/Index">Home</a>
            <a href="~/About/Index">About Us</a>
            <a href="~/Products/Index">Products</a>
            <a href="~/Contact/Index">Contact</a>
            <a href="~/Faq/Index">FAQ</a>
            <a href="#" id="open-cart">Cart</a>
            <a href="#" id="user-icon" style="display: none;"><i class="fas fa-user-circle"></i></a>
            <a href="~/Login/Index" id="login-link">Login</a>
        </nav>
    </header>

    @RenderBody()

    <script src="~/js/Products.js"></script>
    <script src="~/js/ProductDetails.js"></script>
    <script src="~/js/Contact.js"></script>
    <script src="~/js/About.js"></script>
    <script src="~/js/Cart.js"></script>
    <script src="~/js/site.js"></script>
    <script type="module" src="~/js/cart.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>