@{
    ViewData["Title"] = "Forgot Password - BatterLife";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
}
<div class="login-page">
    <div class="login-container">
        <h1>Forgot Password</h1>
        <form id="forgotPasswordForm" asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <button type="submit">Reset Password</button>
            <p class="register-link">Remember your password? <a asp-controller="Account" asp-action="Login">Login here</a></p>
        </form>
    </div>
</div>