@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
}
<div class="login-page">
    <div class="login-container">
        <h1>Password Reset Email Sent</h1>
        <p>Please check your email to reset your password.</p>
        <p class="register-link"><a asp-action="Login">Back to Login</a></p>
    </div>
</div>

